<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin_layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Accept Product to Store:</h1>
    <div class="container">
        <div class="row g-3 my-3">
            <div class="col-6">
                <label for="pname" class="form-label">Product name:</label>
                <input type="text" id="pname" name="name" th:field="${product.name}" readonly class="form-control">
            </div>
            <div class="col-6">
                <label for="price" class="form-label">Product Price:</label>
                <input type="text" id="price" name="price" th:field="${product.price}" readonly class="form-control">
            </div>
            <div class="col-6">
                <label for="size" class="form-label">Product Size:</label>
                <input type="text" id="size" name="size" th:field="${product.size}" readonly class="form-control">
            </div>
        </div>

        <form class="row g-3" method="POST" action="/admin/inventory/accept_product">
            <div class="col-6">
                <input hidden type="text" name="productId" th:value="${product.id}"/>
                <label for="store" class="form-label">Select Store:</label>
                <select class="form-select" id="store" name="storeId">
                    <option th:each="store : ${stores}" th:value="${store.id}" th:text="${store.name}"></option>
                </select>
            </div>
            <div class="col-6">
                <label for="quantity" class="form-label">Quantity:</label>
                <input type="text" id="quantity" name="quantity" class="form-control"/>
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</section>

</body>
</html>