<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin_layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<section layout:fragment="content">
  <div class="container">
    <h2>Order List</h2>

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <a class="btn btn-primary" th:href="@{/admin/orders/list/{status}(status=NEW)}">New</a>
      <a class="btn btn-success" th:href="@{/admin/orders/list/{status}(status=INPROGRESS)}">InProgress</a>
      <a class="btn btn-danger" th:href="@{/admin/orders/list/{status}(status=COMPLETED)}">Completed</a>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Order Placed At</th>
        <th>Order Status</th>
        <th>Owner</th>
        <th>Details</th>
        <th>-</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order: ${orders}">
        <td th:text="${order.createdAt}"></td>
        <td th:text="${order.status}"></td>
        <td>
          <span th:text="${order.owner.username}"></span>
        </td>
        <td>
          <a class="text-decoration-none" th:href="@{/admin/orders/details/{id}(id=${order.id})}" th:text="${order.orderItems.size} + ' items'"></a>
        </td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
            <a class="btn btn-outline-secondary btn-sm"
               th:each="status: ${statuses}"
               th:href="@{/admin/orders/update/{id}/status/{status} (id=${order.id}, status=${status})}"
               th:text="${status}"></a>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
</section>

</body>
</html>