<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin_layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<section layout:fragment="content">
  <h1 class="h2">Order Details</h1>
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Sub-Total Price</th>
      </tr>
      </thead>
      <tr th:each="item : ${order.orderItems}">
        <td>
          <img th:unless=${#lists.isEmpty(item.product.images)}
               th:src="${item.product.images[0].link}"
               class="img-thumbnail"
               width="150" height="150">
          <img th:if=${#lists.isEmpty(item.product.images)}
               th:src="@{/images/No_image_available.svg.png}"
               class="img-thumbnail"
               width="150" height="150">
        </td>
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.price}"></td>
        <td th:text="${item.product.size}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.totalPrice}"></td>
      </tr>
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
      <a class="btn btn-outline-secondary btn-sm"
         th:each="status: ${statuses}"
         th:href="@{/admin/orders/update/{id}/status/{status} (id=${order.id}, status=${status})}"
         th:text="${status}"></a>
    </div>

  </div>
</section>

</body>
</html>