<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>


<section layout:fragment="content">
  <div class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="display-4 fw-normal">E-commerce project</h1>
        <p class="lead fw-normal">E-commerce project made with java using spring framework for educational purpose.</p>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col " th:each="p : ${products}">
      <div class="card">
        <img th:unless=${#lists.isEmpty(p.images)} th:src="${p.images[0].link}" class="card-img-top" alt="..." >
        <img th:if=${#lists.isEmpty(p.images)} th:src="@{/images/No_image_available.svg.png}" class="card-img-top" alt="..." >
        <div class="card-body">
          <div class="card-title">
            <a  th:href="@{/public/product/details(id=${p.id})}" class="text-decoration-none" >
              <h5 th:text="${p.name}"></h5>
            </a>
          </div>
          <div class="rating">
            <label for="stars-rating-1"><i id="stars-rating-1" class="fa fa-star text-warning"></i></label>
            <label for="stars-rating-2"><i id="stars-rating-2" class="fa fa-star text-warning"></i></label>
            <label for="stars-rating-3"><i id="stars-rating-3" class="fa fa-star text-warning"></i></label>
            <label for="stars-rating-4"><i id="stars-rating-4" class="fa fa-star"></i></label>
            <label for="stars-rating-5"><i id="stars-rating-5" class="fa fa-star"></i></label>
          </div>
          <p class="card-text text-truncate" th:text="${p.price}"></p>
          <div class="product-info smart-form">
            <div class="row">
              <div class="col">
                <a th:href="@{/cart/add/{id}(id=${p.id})}" class="btn btn-warning btn-sm" >Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>