<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin_layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<section layout:fragment="content">
  <h1 class="h2">Store Product List</h1>
  <ul class="nav justify-content-center gap-2">
    <li class="nav-item"  th:each="store : ${stores}">
      <a class="btn btn-sm"
         th:classappend="${store.name == currentStoresList} ? 'btn-primary' : 'btn-outline-secondary'"
         th:href="@{/admin/inventory/list(storeId=${store.id})}"
         th:text="${store.name}"></a>
    </li>
  </ul>

  <table class="table" th:if = "${#bools.isFalse(isFirstTimeAccess)}">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name of Store </th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Size</th>
      <th scope="col">Quantity</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="inventory : ${inventoryList}">

      <td th:text="${inventory.id}"></td>
      <td th:text="${inventory.store.name}"></td>
      <td th:text="${inventory.product.name}"></td>
      <td th:text="${inventory.product.price}"></td>
      <td th:text="${inventory.product.size}"></td>
      <td th:text="${inventory.quantity}"></td>

    </tr>
    </tbody>
  </table>
</section>

</body>
</html>