<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin_layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<section layout:fragment="content">
  <h1>Create Product</h1>
  <div class="container">
        <form class="row g-3" th:action="@{/admin/products}" method="POST" th:object="${product}">
          <div class="col-12">
            <input type="text" id="pid" name="id" th:field="*{id}" hidden>
            <label for="pname" class="form-label">Product name:</label>
            <input type="text" id="pname" name="name" th:field="*{name}" class="form-control">
          </div>
          <div class="col-12">
            <label for="price" class="form-label">Product Price:</label>
            <input type="text" id="price" name="price" th:field="*{price}" class="form-control">
          </div>
          <div class="col-12">
            <label for="size" class="form-label">Product Size:</label>
            <input type="text" id="size" name="size" th:field="*{size}" class="form-control">
          </div>
          <div class="col-12">
            <label for="images" class="form-label">ImageUrl:</label>
            <select id="images" class="form-select" name="images" th:field="*{images}" multiple>
              <option th:each="image : ${images}" th:value="${image.name}" th:text="${image.name}"></option>
            </select>
          </div>
          <div class="col-12">
            <input type="submit" value="Create" class="btn btn-success">
          </div>
        </form>
  </div>
</section>

</body>
</html>